body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADINGS */

.header-main {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.header-2 {
    font-weight: 300;
    color: white;
    font-size: 42px;
}

/* LINKS */

.link {
    color: aquamarine;
    font-size: 16px;
}